{% load static wagtailuserbar bootstrap_themes %}

{% bootstrap_styles theme='default' type='min.css' %}

<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <title>
            {% block title %}
                {% if self.seo_title %}{{ self.seo_title }}{% else %}{{ self.title }}{% endif %}
            {% endblock %}
            {% block title_suffix %}
                {% with self.get_site.site_name as site_name %}
                    {% if site_name %}- {{ site_name }}{% endif %}
                {% endwith %}
            {% endblock %}
        </title>
        <meta name="description" content="" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="icon" href="https://s3-us-west-2.amazonaws.com/smallplex/smallplex2.PNG">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>

        {# Global stylesheets #}
{#        <link rel="stylesheet" type="text/css" href="{% static 'css/akilunaphotography.css' %}">#}

        {% block extra_css %}
            {# Override this in templates to add extra stylesheets #}
        {% endblock %}
    </head>


    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">Smallplex
                </a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="http://www.smallplexshares.com">Shares</a>
                    </li>
                    <li>
                        <a href="http://investor.smallplex.com">Investor</a>
                    </li>
{#                    <li>#}
{#                        <a href="/blog">Blog</a>#}
{#                    </li>#}
                    <li>
                        <a href="/contact">Contact</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <br>

    <br>

    <br>

        <!-- Page Content -->
    <div class="container">

    <body class="{% block body_class %}{% endblock %}">
        {% wagtailuserbar %}

        {% block content %}{% endblock %}


    </div>
    <!-- /.container -->
        <!--  Scripts-->
        <script data-after="https://code.jquery.com/jquery-2.1.1.min.js"></script>
        <script data-after="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/js/materialize.min.js"></script>


        {# Global javascript #}
{#        <script type="text/javascript" src="{% static 'js/akilunaphotography.js' %}"></script>#}

        {% block extra_js %}
            {# Override this in templates to add extra javascript #}
        {% endblock %}

        {% bootstrap_script use_min=True %}

    </body>
</html>
